.header {
  padding: 5px;
  text-align: center;
  background: #D3D3D3;
  color: black;
}

.footer {
  padding: 5px;
  text-align: center;
  background: #ADD8E6;
  color: black;
  font-size: 15px;
  margin-top: 20px;
}

.formdesign {
          background-color: white;
          color: black;
          margin: 10px;
        }

.form-table{
  display: table;
}

.form-group {
  display: table-row;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
    margin-right: 150px;
    margin-left: 150px;
    font-family: sans-serif;
}

#alg_params_form {
    display: flex;
}


div#loading {
position: absolute;
width: 1000px;
height: 1000px;
top: 40%;
left: 45%;
display: none;
background: url(/static/Spinner-3s-200px.gif) no-repeat;
cursor: wait;
}