.header {
    padding: 5px;
    text-align: center;
    background: #D3D3D3;
    color: black;
}

.footer {
    padding: 5px;
    text-align: center;
    background: #ADD8E6;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    clear: left;
    display: block;
}

.formdesign {
    background-color: white;
    color: black;
    margin: 10px;
}

.form-table {
    display: table;
}

.form-group {
    display: table-row;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin-right: 10vw;
    margin-left: 10vw;
    font-family: sans-serif;
}

#alg_params_form {
    display: flex;
}


div#loading {
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 40%;
    left: 45%;
    display: none;
    background: url(/static/Spinner-3s-200px.gif) no-repeat;
    cursor: wait;
}

/* Parent Container */
.content_img {
    position: relative;
    margin-right: 10px;
}

/* Child Text Container */
.content_img div {
    position: absolute;
    top: 50;
    left: 450;
    background: #7FFFD4;
    color: black;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover {
    cursor: pointer;
}

.content_img:hover div {
    width: 400px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;
}

.submitbutton {
    border-radius: 4px;
    background-color: #2a7d4f;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
    align-self: end;
}

.submitbutton:hover {
    background-color: rgba(60, 178, 113, 0.7);
}
