{% extends 'base.html' %}

{% block head %}
<title>Data error | SPIRAL</title>
{% endblock %}

{% block content %}
<center><h1>Data error</h1></center>
<br>
<p>We could not process the data file that was uploaded. Please verify that it is structured as described in the
    "data loading" page. You are welcome to consult us if necessary (see below).</p>


<div class="container">
    <form method="POST" action="/run_SPIRAL_step1">
        <div class="form-row">
            <div class="form-group">
                <center>{{ form.submit(class="btn btn-primary")}}</center>
            </div>
        </div>
    </form>
</div>

<br>
<br>

{% endblock %}