<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        <div class="header">
            <a href="../"><img src="/static/SPIRAL_logo.png" width="70" height="70" alt="Home"/></a>
            <p style="font-family:Lucida Console; font-size:22px;">
                SPIRAL: Significant Process
                InfeRence Algorithm for single cell RNA-sequencing and spatial transcriptomics</p>
        </div>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}
        <title>SPIRAL</title>
        {% endblock %}
    </header>
</head>

<main>
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <div id="loading"></div>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</main>

<footer>
    <div id="footer" class="footer">
        {% block footer %}
        <p>Need help? Have a suggestion? Encountered a bug? Please contact us at <a href="spiral.web.tool@gmail.com">
            spiral.web.tool@gmail.com</a></p>
        {% endblock %}
    </div>
</footer>

</html>
