{% extends 'base.html' %}

{% block head %}
<title>Test</title>
{% endblock %}

{% block body %}
<h1>Test!</h1>
<form method="POST" action="{{ url_for('test') }}" enctype="multipart/form-data">
    {{ form.csrf_token() }}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.name.label }}</label>
            {{ form.name }}
            <p> Names are super important. </p>
        </div>
        <hr>
        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.pic.label }}</label>
            {{ form.pic }}
            <p> Pictures are also super important. </p>
        </div>
        <hr>
        <div class="form-group">
            {{ form.csrf_token() }}
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </div>
</form>
{% endblock %}