<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]>


































</script>
{% extends 'base.html' %}

{% block head %}
<title>Step 3 | SPIRAL</title>
{% endblock %}

{% block content %}
<center><h1>Run SPIRAL!</h1></center>
<h2>Step 3/5: data filtering</h2>
<div class="content_img">
    <img src={{ vln_plot_file }} align="middle" alt="Violin plot of number of expressed genes" style="width:25%">
    <div>Try to include most of your data and exclude the outliers in both ends. <strong>Explanation:</strong> Cells
        with very few expressed genes may be raptured cells, while cells with a lot of expressed genes may be doublets.
    </div>
</div>

<form method="POST" action="" enctype="multipart/form-data" onsubmit="loading();">
    {{ form.hidden_tag() }}
    <div class="form-horizontal">
        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.min_nFeatures.label }}</label>
            {{ form.min_nFeatures }}
            {% for error in form.min_nFeatures.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.max_nFeatures.label }}</label>
            {{ form.max_nFeatures }}
            {% for error in form.max_nFeatures.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <hr>

        {% if with_mt %}
        <div class="content_img">
            <img src={{ vln_plot_mt_file }} align="middle" alt="Violin plot of percentage of mitochondrial reads" style="width:25%">
            <div>Cells with large percentages of mitochondrial genes are likely to be cells that experienced cell
                stress, and you might want to exclude them from the analysis.
            </div>
        </div>

        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.max_mtpercent.label }}</label>
            {{ form.max_mtpercent }}
            {% for error in form.max_mtpercent.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <hr>
        {% endif %}

        <div class="form-group">
            {{ form.csrf_token() }}
            {{ form.submit(class="submitbutton")}}
        </div>
    </div>
</form>

{% if mt_error != 'None' %}
<p>Note: {{ mt_error }} </p>
{% endif %}

{% endblock %}