<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();
        }
// ]]>











</script>
{% extends 'base.html' %}

{% block content %}
<center><h1>Run SPIRAL!</h1></center>
<h2>Step 2/3</h2>
<figure>
    <img src={{ vln_plot_file }} align="middle" alt="vln_plot" style="width:70%">
</figure>

<form method="POST" action="" enctype="multipart/form-data" onsubmit="loading();">
    {{ form.hidden_tag() }}
    <div class="form-horizontal">
        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.min_nFeatures.label }}</label>
            {{ form.min_nFeatures }}
            {% for error in form.min_nFeatures.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.max_nFeatures.label }}</label>
            {{ form.max_nFeatures }}
            {% for error in form.max_nFeatures.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        {% if with_mt %}
        <div class="form-group col-md-6">
            {{ form.csrf_token() }}
            <label for=""> {{ form.max_mtpercent.label }}</label>
            {{ form.max_mtpercent }}
            {% for error in form.max_mtpercent.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
            {{ form.csrf_token() }}
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </div>
</form>

{% endblock %}