# Default ignored files
/shelf/
/workspace.xml
venv/
__pycache__
static/*
!static/css/
!static/js/
!static/SPIRAL_logo.png
!static/Technion_logo.jpg
!static/Spinner-3s-200px.gif
spiral_venv/
mail_password.txt
Flask-WTF_encription_key.txt